<!DOCTYPE html>
<html lang="en">
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Проверка пользователя</title>
 </head>
 <body>
        <div class="AnswerField">
         <p><%= answer %></p>
         <button type="Back" onclick="document.location='index'">Назад</button>
       </div>
 </body>
</html>