<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Проверка пользователя</title>
 </head>
 <body>
    <form method="POST" action="">
        <div class="search">
         <input type="text"  name="check_field">
         <button type="submit" value="">Проверить пользователя</button>
       </div>
      </form>
 </body>
</html>